
@{
    ViewData["Title"] = "Arquitectura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/site1.css" />

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Libros Arquitectura de Software</div>

		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://m.media-amazon.com/images/I/51-HCovszVL._SY445_SX342_.jpg" alt="Software Architecture" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a href="#"> Software Architecture in Practice (SEI Series in Software Engineering)</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> Mar, Set 25th 2012
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> Este libro es una referencia fundamental en el campo de la arquitectura de software. Cubre los principios y prácticas esenciales para diseñar y evaluar arquitecturas de software efectivas. Los autores presentan métodos para asegurar que la arquitectura satisfaga las necesidades del negocio y del sistema.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fa-solid fa-user-large mr-2"></i> Len Bass</li>
					<li class="tag__item"><i class="fa-solid fa-user-large mr-2"></i> Paul Clements</li>
					<li class="tag__item"><i class="fa-solid fa-book-open"></i> 624</li>
					<li class="tag__item play green">
						<a href="https://www.amazon.com/Software-Architecture-Practice-3rd-Engineering/dp/0321815734" target="_blank"><i class="fa-solid fa-cart-shopping"></i> Comprar</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://m.media-amazon.com/images/I/61r4tYVsRVL._SY385_.jpg" alt="Clean Architecture" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">Clean Architecture: A Craftsman's Guide to Software Structure and Design</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> Dom, Set 10th 2017
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> En este libro, Robert C. Martin ("Uncle Bob") expone su visión sobre cómo estructurar sistemas de software de manera que sean robustos, flexibles y fáciles de mantener. El libro abarca conceptos clave de arquitectura y proporciona directrices prácticas para aplicar estos principios en proyectos reales.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fa-solid fa-user-large mr-2"></i> Robert C. Martin</li>
					<li class="tag__item"><i class="fa-solid fa-book-open"></i> 432 </li>
					<li class="tag__item play yellow">
						<a href="https://www.amazon.com/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164" target="_blank"><i class="fa-solid fa-cart-shopping"></i> Comprar</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>

<script src="~/js/site1.js" asp-append-version="true"></script>
